[Desktop Entry]
Encoding=UTF-8
Name=kasablanca
Exec=kasablanca
Icon=kasablanca
Type=Application
Comment=FTP Client
Comment[es]=Cliente FTP
Categories=Qt;KDE;Network
